{% extends "base.html" %}

{% block body %}
  <h1>About me</h1>

  	<h2>Appointments</h2>
        <p>
		  <ul>
			{% for appointment in appointments %}
			 	<li>{{appointment.end_date}} - {{appointment.start_date}}: {{ appointment.title }} - {{appointment.location}}</li>
			{% endfor %}
		  </ul>
        </p>

  	<h2>Roles</h2>
        <p>
		  <ul>
			{% for role in roles %}
                <li>{{role.end_date}} - {{role.start_date}}: {{role.title}}</li>
			{% endfor %}
		  </ul>
        </p>

  	<h2>Examiner roles</h2>
        <p>
		  <ul>
			{% for examiner in examiners %}
                <li>{{examiner.end_date}} - {{examiner.start_date}}: {{ examiner.title }}</li>
			{% endfor %}
		  </ul>
        </p>

  	<h2>Awards</h2>
        <p>
		  <ul>
			{% for award in awards %}
                <li>{{award.date}}: {{award.title}}</li>
			{% endfor %}
		  </ul>
        </p>

  	<h2>Qualification</h2>
        <p>
		  <ul>
			{% for qualification in qualifications %}
			 	<li>{{qualification.date}} - {{qualification.from}}: {{
                    qualification.title }} - {{qualification.remark}}</li>
			{% endfor %}
		  </ul>
        </p>

{% endblock %}
