<header>
    <div class="row">
        <div class="three.columns">
            <a class="logo" href="{{root}}/">Vincent Knight</a>
        </div>
        <div class="nine.columns">
              <input id="nav" type="checkbox">
              <label for="nav"></label>
              <nav>
                    <ul>
						   <li><a class="page-link" href="./">Home</a></li>
          <li><a class="page-link" href="{{root}}/blog/">Blog</a></li>
          <li><a class="page-link" href="{{root}}/about/">About Me</a></li>
          <li><a class="page-link" href="{{root}}/collaborators/">Collaborators</a></li>
          <li><a class="page-link" href="{{root}}/speak/">Talks</a></li>
          <li><a class="page-link" href="{{root}}/tch-phi/">Teaching Philosophy</a></li>

                    </ul>
              </nav>
        </div>
    </div>
</header>
