---
layout: default
title: Home
---

<div class="home">


    <h1><a href="{{site.baseurl}}/teaching">Teaching</a></h1>

        <p>
        <ul>
        {% for course in site.data.courses %}
          <li>
            <a href="{{course.url}}">
              {{ course.title }}
            </a>
          </li>
        {% endfor %}
        </ul>
        </p>

        <h1><a href="{{site.baseurl}}/research">Research</a></h1>

        <p>Here is a list of my latest papers:</p>

        <p>
        <ul>
        {% for paper in site.data.papers %}
          <li>
            <a href="{{paper.url}}">
              {{ paper.title }}
            </a>
          </li>
        {% endfor %}
        </ul>
        </p>

        <p>Here is a list of current research students I am working with:</p>
        <p>
        <ul>
        {% for student in site.data.students %}
          <li>
            <a href="{{student.url}}">
              {{ student.name }}
            </a>
          </li>
        {% endfor %}
        </ul>
        </p>
</div>
