---
layout: default
title: Publication List
---

<div>
    <h2>Publication list</h2>

    <p>
    <ol reversed>
    {% for publication in site.data.publications %}
      <li>
      {{ publication.date }}: <b>{{ publication.title }}</b>
        {% for author in publication.authors %}
            {{author}},
        {% endfor %}
        {% if publication.url %}
            in <a href="{{ publication.url }}">{{ publication.pub_details }}</a>.
        {% else %}
            in {{ publication.pub_details }}.
        {% endif %}
      </li>
    {% endfor %}
    </ol>
    </p>
</div>

<div>
    My <a href='http://scholar.google.co.uk/citations?user=xC1CYgMAAAAJ&hl=en'>
        Google Scholar page</a> might at times be more up to date.</p>

</div>
