<footer class="site-footer">

<div class="wrap">


    <div class=flex>
        <span class="username">
            Github: <a href="https://github.com/{{ site.github_username }}">
                {{ site.github_username }}
        </a></span>
        <span class="username">Twitter: <a href="https://twitter.com/{{ site.twitter_username }}">
                {{ site.twitter_username }}</a></span>

        <span class="username">Google+: <a href="https://plus.google.com/{{ site.plus_username }}">
                {{ site.plus_username }}</a></span>

        <span class="username">Mail: <a href="mailto:knightva@cf.ac.uk">knightva@cf.ac.uk</a></span>
        <span class="username">Blog: <a href="http://drvinceknight.github.io/unpeudemath/">un peu de math</a></span>
        <span class="username">YouTube: <a href="https://www.youtube.com/channel/UCJoZNbN4ziZBIfzC1zjuHYA">+Vincent Knight</a></span>
        <span class="username">Facebook: <a
                href="https://www.facebook.com/drvinceknight">Vince Knight</a></span>
        <span class="username">Instagram: <a
                href="https://www.instagram.com/vincent.knight/">vincent.knight</a></span>
        <span class="username">Photo: <a href="{{ site.baseurl
                }}/assets/vince-knight-lo.jpg">lo</a> <a href="{{ site.baseurl
                }}/assets/vince-knight-hi.png">hi</a></span>
        <span class="username">CV: <a href="{{ site.baseurl
                }}/cv/vince-knight.pdf">pdf</a> <a href="{{ site.baseurl
                }}/cv/vince-knight.tex">tex</a>
        </span>
    </div>
</ul>


  </div>

  </footer>
