---
layout: default
title: Courses
---


<div>
    <h2>Courses I am currently teaching</h2>

    <p>
    <ul>
    {% for course in site.data.courses %}
     {% if course.current %}
      <li>
        <a href="{{course.url}}">
          {{ course.title }}
        </a>
      </li>
     {% endif %}
    {% endfor %}
    </ul>
    </p>
</div>

<div>
    <h2>Courses I have taught in the past</h2>

    <p>
    <ul>
    {% for course in site.data.courses %}
     {% if course.current != true %}
      <li>
        <a href="{{course.url}}">
          {{ course.title }}
        </a>
      </li>
     {% endif %}
    {% endfor %}
    </ul>
    </p>
</div>
